* {
    box-sizing: border-box;
    text-align: center;
  }
  
  h1{
    text-align: left;
  }
  
  body>i> {
      flex-grow: 0;
  }
  
  body>header> {
      flex-grow: 1;
  }
  
  main{
    margin: 30px;
  }
  
  body {
   font-family: "Roboto", sans-serif;
   margin: 0;
   padding: 0;
  }
  
  
  .navbar{
    width: 100%;
    background-color: rgb(99, 97, 97);
    padding: 3px;
    color: white;
    }
  
  
  ul#menu{
    display: none;
  }
  
  .social{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content:  space-evenly;
  }
  
  .hamburger{
    text-align: right;
  }
  
  .product{
    border: lightgray 1px solid;
    border-radius: 10px;
    margin-top: 5px;
  }
  
  .logo>img{
    width: 100px;
    height: 80px;
    margin-top: 20px;
  }
  
  @media screen and (min-width: 684px){
  
  header{
    display: flex;
    flex-direction:row;
    margin-left: 0px;
    justify-content: space-evenly;
  }
  
  .logo>img{
      display: flex;
      align-self: flex-end; 
      margin-top: 10px;
    }
    
    header>h1{
      display: flex;
      justify-self: center;
    }
  
    h4{
      text-align: left;
    }
  
    .sidebar {
    height: 100vh;  
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: left;
    font-style: italic;
    background-color: lightgray;
    text-align: left;
   }

   .sidebar p{
     text-align: left;
   }
  
  
    .social {
    display: flex;
    justify-content: space-around;
    padding-left: 0px;
    list-style: none;
    border-top: 1px solid lightgray;
    padding-top: 10px;
    }
  main{
    margin: 20px;
  }
  }
  @media screen and (min-width: 800px) {
    .hamburger{
      display: none;
    }
  
    ul#menu{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      list-style: none;
      padding: 0px;
      }
  
    ul#menu>li{
      margin-right: 10px;
      margin-left: 30px;
    }
  